@font-face {
  font-family: 'Galano-Grotesque';
  src: url('src/assets/fonts/GalanoGrotesque-Regular.woff') format('opentype');
}

@font-face {
  font-family: 'Galano-Grotesque-SemiBold';
  src: url('src/assets/fonts/GalanoGrotesque-SemiBold.woff') format('opentype');
}
